:root {
    --fundo: #f4f4f4;
    --text_cinza: #555;
    --azul: #005aa7;
    --laranja: #f58220;
    --branco: #fff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--fundo);
    color: var(--text_cinza);
}

header {
    background: linear-gradient(90deg, var(--azul), var(--laranja));
    color: var(--branco);
    text-align: center;
    /*centralizar texto*/
    padding: 40px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 5px;

}

header p {
    font-size: 1.1rem;
    margin-top: 10px;
}

.container {
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}

.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carro {
    background-color: white;
    width: 280px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
    overflow: scroll;
    transition: 0.3 ease;
}

.carro img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.carro:hover {
    box-shadow: 0 10px 20px (0, 0, 0, 0.2);
    transform: translateY(-8px);

}

.carro h2 {
    font-size: 1.2rem;
    color: var(--laranja);
    margin-bottom: 15px;
}

.preco {
    font-weight: bold;
    color: var(--laranja);
    margin-bottom: 15;
}

button {
    background-color: var(--azul);
    color: var(--branco);
    border: none;
    padding: 10 20;
    border-radius: 8px;
    margin-bottom: 20px;
    font-size: 1rem;
    cursor: pointer;
}

button:hover {
    background-color: var(--laranja);
    transform: scale(1.05);
    padding: 15 px 25px;
}

footer {
    text-align: center;
    background-color: var(--azul);
    padding: 20px;
    color: var(--branco);
}