:root {
    --fundo: #f4f4f4;
    --text_cinza: #555;
    --azul: #005aa7;
    --laranja: #f58220;
    --branco: #fff;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Courier New', Courier, monospace;
    background-color: var(--fundo);
    color: var(--text_cinza);
}

header {
    background: linear-gradient(90deg, var(--azul), var(--laranja));
    color: var(--branco);
    text-align: center;
    /*centralizar texto*/
    padding: 40px 0;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.5rem;
    letter-spacing: 5px;

}

header p {
    font-size: 1.1rem;
    margin-top: 10px;
}